body{
    background-color: #000000;

}
.bg-light-dark{
    background-color: #161313;
}
#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}
.for-deg{
    background-color: #161313;
    border:2px solid #cc0d0d;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #000;
    padding: 30px;
}
.max{
    box-shadow: 2px 2px 5px;
    background: #161313;
    border-radius: 20px;
}